.header-container {
  display: flex;
  padding: 50px;
  justify-content: space-between;
}

.logo-mage {
  height: 26px;
}

.form-container {
  box-shadow: 0 0 10px #c0c0c04d;
  border-radius: 14px;
}

.city-button {
  border: none;
  height: 54px;
  background: transparent;
  border-right: 1px solid #d4d1d154;
  font-size: 17px;
  padding: 18px;
  text-align: center;
  border-radius: 10px 0 0 10px;
}


.guests {
  border: none;
  height: 54px;
  background: transparent;
  border-right: 1px solid #d4d1d154;
  font-size: 17px;
  padding: 18px;
  text-align: center;
}

.search {
  border: none;
  height: 54px;
  background: transparent;
  font-size: 17px;
  padding: 18px;
  text-align: center;
}